<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OOPSynoptic.Properties.Settings.OOPSynopticConnectionString"
            connectionString="Data Source=SAMUEL-HOME\SQLEXPRESS;Initial Catalog=OOPSynoptic;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>